/* set starting margin and padding at 0 */
* {
    margin: 0;
    padding: 0;
}

/*set global color variables */
:root {
    --cream: #f5e9f5;
    --pink: #e96479;
}

/*apply font and background color property to body tag */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #7DB9B6;

}

/* set all anchor text decoration style none and color cream */
a {
    text-decoration: none;
    color: var(--cream);
}

/*first part of portfolio header and apply background color , height , color and font size to header */
.hero {
    background-color: #4D455D;
    height: 100vh;
    color: white;
    font-size: 40px;
}

/*first header bar applying height and background color */
.Hero-main {
    height: 50px;
    background-color: var(--pink);
}

/*first img logo and name part and apply flex and space between them. */
.top-nav {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding: 5px;
}

/* give display flex and radius , aligment and padding to main image */
#img-main {
    display: flex;
    border-radius: 200px;
    align-self: flex-start;


}

/* apply properties to main header like about me , work, contact me , resume */
.top-nav ul {
    display: flex;
    list-style-type: none;
    width: 700px;
    justify-content: space-around;



    text-decoration: none;

}

/* apply properties to main large header*/
.hero-area {
    display: flex;

    height: 100%;
    justify-content: space-between;
    align-items: center;
}

/* apply margin and font peroperties to main sub header */
.hero-text {
    margin-left: 80px;
    margin-bottom: 200pxm;
    font-size: 60px;
}

/* set margin,fonts-ze and wigth to main header pragraph tag */
.hero-text p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

/*apply perperties to DOWNLOAD CV button in main header */
.button {
    width: 300px;
    height: 55px;
    text-align: center;
    border-radius: 40px;
    background-color: coral;

    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 20px;
}

/*apply peroperty when on mouse hover on button */
.button:hover {
    background-color: #ef744b;
}

/* apply property when button is active */
.button:active {
    background-color: #a9a9a9;
    color: #808080;
}

/* apply properties to twitter linked github image */
.socials {
    padding-bottom: 1px;
    margin: 20px;
}

/* Give properties text-aligment,display,jusify-content means space between content , font size */
.top-div {
    text-align: left;
    display: flex;
    justify-content: space-around;

}

/* second part of portfolio means about me.apply common properties */
.sub-section {

    background-color: #7DB9B6;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    margin-top: 200px;
    margin-bottom: 200px;
}

/* class information has value about me and information */
.information {
    margin-left: 80px;
    margin-bottom: 80px;
    margin-right: 80px;
    padding: 10px;
    text-align: justify;
}

/* apply color to about me h2 text */
.information h2 {
    font-size: 40px;
    color: var(--pink);
}

/* appply color to information paragraph */
.information p {
    font-size: 30px;
    color: var(--cream);
}

/* Work Section proeperties */
.sub-section-alternative {
    background-color: #7DB9B0;
    color: var(--pink);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 80px;
    padding-right: 130px;
}

.sub-section-alternative h2 {
    font-size: 40px;
    color: var(--pink);
}

/* apply proeperties to project image and link */
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: left 300px;

}


/*large image of portfolio person */
.headshot-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.sub-section-alternative h2 {

    text-align: left;
}

/*apply width and border radius to main image */
.headshot {
    width: 300px;
    border-radius: 150px;
}

#work {
    padding-left: 80px;
}



.row {
    display: flex;

    justify-content: space-between;

}

/* apply pseudo element property to first child of row class */
.row1:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* apply pseudo peroperty to project card1 */
.project-card11:first-child {
    position: relative;
    width: 100%;
    height: 500px;
    box-shadow: 5px 5px 20px gray;
    margin: 10px;
    border: 5px solid var(--cream);

}

.project-card1 {
    position: relative;
    width: 100%;
    height: 250px;
    box-shadow: 5px 5px 20px gray;
    margin: 10px;
    border: 5px solid var(--cream);

}


.project-card11 img {
    width: 100%;
    height: 500px;
    margin: 0%;
}

.project-card1 img {
    width: 100%;
    height: 250px;
    margin: 0%;
}

.Project-information1 {
    position: absolute;
    bottom: 10px;
    left: 00px;
    background-color: var(--cream);
    color: var(--pink);
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid var(--cream);
}

.Project-information {
    position: absolute;
    bottom: 10px;
    left: 00px;
    background-color: var(--cream);
    color: var(--pink);
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid var(--cream);
}

/* apply peroties to footer tag and its sub tag */
footer {
    display: flex;
    justify-content: center;
    background-color: var(--pink);
    color: var(--cream);
    width: 100%;
    font-size: 30px;
    padding: 2%;
}

footer ul {
    display: flex;
    list-style-type: none;
}

footer li {
    padding-right: 10px;
}

footer li a {
    text-decoration: none;
    color: var(--cream);
}


/* when using 'max-width as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* for under 1200px media screen size then it changes header footer font*/
@media screen and (max-width:1200px) {
    .top-nav {
        font-size: 20px;
    }


    footer {
        font-size: 20px;
    }
}

/* for max-width 992px its changes different attribute fontsize. */
@media screen and (max-width:992px) {

    .top-nav {
        font-size: 15px;
    }

    .hero-text {

        font-size: 30px;
    }

    .hero-text p {
        font-size: 20px;
    }

    .information h2 {
        font-size: 30px;

    }

    .information p {
        font-size: 20px;

    }

    footer {
        font-size: 15px;
    }
}


/* for upto size 768 its change property . main work image layout change column wise */
@media screen and (max-width:768px) {
    .headshot {
        width: 200px;
        border-radius: 150px;
    }

    .Project-information h3 {
        font-size: 10px;
    }

    .Project-information1 {
        font-size: 10px;
    }

    .row1 {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }


    footer {
        font-size: 10px;
    }
}

/* for size upto 576px its change this property */
@media screen and (max-width:576px) {
    .top-nav {
        font-size: 10px;
    }

    .headshot {
        width: 200px;
        border-radius: 150px;
    }

    .hero-text {

        font-size: 20px;
    }

    .hero-text p {
        font-size: 14px;
    }

    .information h2 {
        font-size: 20px;

    }

    .information p {
        font-size: 14px;

    }



    footer {
        font-size: 10px;
    }
}